[Unit]
Description=Chef Client

[Service]
ExecStart=/usr/lib/redborder/bin/rb_chef-client_start.sh
Restart=always

[Install]
WantedBy=multi-user.target
